html, body {
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url("Pictures/Afternoon_Coffee.png");
    background-size: cover;       
    background-position: top; 
  }

  .ibm-plex-mono-font {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
  }

  .dm-sans-font {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
  }

  #title-header {
    font-size: 57.5px;
  }

  .mint-colored-text {
    color: rgb(79, 255, 147); 
  }

  .indent-text {
    margin-left: 20px; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    right: 0;
    background-color: rgb(32, 35, 53);
    position: fixed;
    height: 100vh;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: rgb(243, 242, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #cca2ef;
    color: #202335;
  }
  
  li a:hover:not(.active) {
    background-color: #3a3975;
    color: rgb(243, 242, 255);
  }

  .linkedin-button {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .linkedin-logo {
    height: 40px; 
  }

  .linkedin-button:hover {
    background-color: #b489ff;
  }

  .columns {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 450px auto;
    height: 100vh;
  }

  #left-column {
    display: grid;
    background-color: #8866ab;
    grid-template-rows: 78px 1fr auto;
    height: 100vh;
  }

  #left-row-1 {
    padding: 10px;
    background-color: #8866ab;
    height: 68px;
  }

  #left-row-2 {
    padding: 10px;
    background-color: #202335;
    border: 10px solid #8866ab;
    height: 1fr;
  }

  #left-row-3 {
    padding: 10px;
    background-color: #8866ab;
    height: auto;
  }

  #right-column {
    padding: 5px;
  }

  .left-column-header-1 {
    color: #f0f38f;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%; 
    text-align: left;
  }

  .left-column-header-2 {
    color: #fdffb5;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }

  .left-column-header-3 {
    color: #f0f38f;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }

  .left-column-paragraph-1 {
    color: #fdffb5;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }

  .left-column-paragraph-2 {
    color: #202335;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }

  .right-column-header-1 {
    color: #202335;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }

  .right-column-paragraph-1 {
    color: #202335;
    display: block;
    margin-left: 20pt;
    margin-right: 20pt;
    width: 90%; 
    text-align: left;
  }
